.bgcolor{
    background-color: #563d7c;
    margin: 0px;
}
.navbar-dark{
    
    margin:0px;
    border:0px;
}
.logoStyle{  
    height:10%;
}
.iconStyle{
    height:5%;
    width:5%;
}
.navbar-brand{
  margin:20px 0px 0px 0px;
  float:none;
  height:max-content;
}
.navbar-brand>img{
  display:inline-block;
}

.linkFontStyles{
    color:white;
    margin:5px;
}
.dropdown{
    margin : 20px 0px 0px 0px;
    float:right;
}
.btn-default{   
    float: right;
    background-color: #563d7c;
    border-color:gold;
    color:gold;
    margin: 10px 0px 0px 0px;
    
}
.btn-default:hover{
    background-color:gold;
}
.padDropDown{
    padding-right: 20px;
    color:white;
}
.imgStyle{
    width:100%;
    height:auto;
}
.dim{
    height:20%;
}
.page-header{

    color:#64239f;
    font-size:50px;
    font-weight: 10px;
}
.fixStyle{
    height:600px;
    border:3px solid white;
}
footer p{
    font-size:10px;
}
.horizontal li{
    list-style-type: none;
    float: left;
    margin-left:10px;
}
.jumbotron{

    font-size:10px;
}
.icons{
    font-size:20px !important;
    padding-right: 20px;
    float: right;
    padding-top: 20px;
}
.btn-primary{
    height:40px;
    width:40%;
    margin:10px;
    border-color:skyblue;
    color:skyblue;
}
.btn-primary:hover{
    background-color;
}
